<div>
    <h2>{{title}}</h2>
</div>

<div class='container-status'>
    {% if rows is iterable %}
    <table id="fancy-table">
        <thead>
            <tr>
            <th>Security Parameter</th>
            {% if title !='Security Review Module Parameters' %}
            <th>Actual Value</th>
            <th>Advised Value</th>
            {% endif %}
            <th>OK/Not ok</th>        
            </tr>
        </thead>
        <tbody>
            {% for i in range(0, (rows|length)-1) %}
            <tr>
                {% if rows[i][3]=='Not ok' or rows[i][1]=='Not ok' %}
                    <td class="wrong-parameter">{{ rows[i][0] }}</td>
                    <td class="wrong-parameter">{{ rows[i][1] }}</td>
                    {% if title !='Security Review Module Parameters' %}
                        <td class="wrong-parameter">{{ rows[i][2] }}</td>
                        <td class="wrong-parameter">{{ rows[i][3] }}</td>
                    {% endif %}
                {% else %}
                    <td>{{ rows[i][0] }}</td>
                    <td>{{ rows[i][1] }}</td>
                    {% if title !='Security Review Module Parameters' %}
                        <td>{{ rows[i][2] }}</td>
                        <td>{{ rows[i][3] }}</td>
                    {% endif %}
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
        <h6 class="warning"> Please clear website cache after updating/changing security kit configuration parameters </h6>
    </table>
    {% else %}
    <h4 class="warning"> {{ rows }} </h4>
    {% endif %}
</div>








