<div>
    <h2>{{title}}</h2>
</div>

<div class='container-main'>
    {% if rows is iterable %}
        {% for i in range(0, (rows|length)-1) %}
        <div class="container-div">
            <div class="box">
                {% if rows[i][1]=='not defined' %}
                    <p class="fancy-design text-grey">{{ rows[i][1] }} <span class="tooltiptext">The reference value is {{ rows[i][2] }}</span></p>
                {% endif %}    
                {% if rows[i][1]!='not defined' and rows[i][3]=='OK' %}
                    <p class="fancy-design text-green">{{ rows[i][1] }} <span class="tooltiptext">The reference value is {{ rows[i][2] }}</span></p>
                {% endif %}
                {% if rows[i][1]!='not defined' and rows[i][3]=='Not ok' %}
                    <p class="fancy-design text-red">{{ rows[i][1] }} <span class="tooltiptext">The reference value is {{ rows[i][2] }}</span></p>
                {% endif %}
                <div class="text-container">
                    <p class="highlight-text"> {{ rows[i][0] }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
    <h4 class="warning"> {{ rows }} </h4>
    {% endif %}
</div>










